@model FirstInFirstAid.Models.Equipment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
        
    @Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.min.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".mydatepick").datepicker({
                dateFormat: "dd.M.yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-50:+50",
                controlType: "select",
            });   

            $("#modal").on('hidden.bs.modal', function () {
                $(".modal-body input").val("");
            });

            $.ajax({
                type: "POST",
                url: "/Equipments/GetTrainers",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (trainerList) {
                    $('#Trainer').append($("<option selected value='Please Select'>Please Select</option>"));
                   
                    $.each(trainerList, function (index, trainer) {
                        $('#Trainer').append($("<option></option>").attr("value", trainer.Id).text(trainer.FirstName + " " + trainer.Lastname));
                    });
                },
                error: function () {
                    alert("Failed to load Trainers");
                }
            });

            var i = 0;
            $("#addAllocation").click(function () {
                $('#allocations> tbody:last-child').append(
                    "<tr id=" + i + ">" +
                    "<td> " + $("#DateSupplied").val() + "</td>" +
                    "<td>" + $("#DateReturned").val() + "</td>" +
                    "<td data-id=\"" + $("#Trainer").val() + "\">" + $("#Trainer option:selected").text() + "</td>" +
                    "<td><input type='button' class='btn btn-danger' value='Delete' onclick='deleteAllocation(" + i + ")'/></td>" +
                    "</tr >");
                i++;
                $('#modal').modal('hide');
            });
        });

        function deleteAllocation(id) {
            $("#" + id).remove();
        };

        function addAllocationsToForm() {
            var count = 0;

            $('#allocations > tbody > tr:not(:first)').each(function () {
                var columns = $(this).find('td');
                $("#form").append("<input type='hidden' name='EquipmentAllocations[" + count + "].DateSupplied'" + " value='" + $(columns[0]).html().trim()+ "'/>");
                $("#form").append("<input type='hidden' name='EquipmentAllocations[" + count + "].DateReturned'" + " value='" + $(columns[1]).html().trim() + "'/>");
                $("#form").append("<input type='hidden' name='EquipmentAllocations[" + count + "].Trainor.Id'" + " value='" + $(columns[2]).attr("data-id") + "'/>");
                count++;
            });
        }
    </script>
}

<h3 class="page-header">Add Equipment Allocation</h3>

<div class="container-fluid">
    <div class="row">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" id="form">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2" for="EquipmentName">Equipment Name:</label>
               
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EquipmentName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EquipmentName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Add Equipment Alloctions:</label>
                <div class="col-md-10">
                    <button data-target="#modal" data-toggle="modal" type="button" class="btn btn-success .btn-sm"> Add </button>
                </div>
            </div>


            <h4 class="page-header"> Equipment Allocations </h4>
            <div class="table-responsive">
                <table class="table" id="allocations" style="width:100%; padding-top:40px; ">
                    <tbody>
                        <tr>
                            <th>Supplied Date</th>
                            <th>Retuned Date</th>
                            <th>Trainer</th>
                            <th> Actions</th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <input onclick="addAllocationsToForm();" type="submit" value="Add Equipment Allocation" class="btn-lg btn-success" />
                </div>
            </div>
        </div>
}
    </div>
</div>




<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Equipment Allocation</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-3">Date Supplied:</label>
                        <input type="text" onkeydown = "return false" onpaste = "return false" id="DateSupplied" class="form-control col-md-9 mydatepick" />
                        <p id="dsempty" class="c-val" hidden> Date supplied is missing</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Date Returned</label>
                        <input type="text" onkeydown = "return false" onpaste = "return false" id="DateReturned" class="form-control col-md-9 mydatepick" />
                        <div class="col-md-10">
                            @Html.Editor("DateReturned", new { htmlAttributes = new { @id = "DateReturned", @class = "form-control", @type = "datetime", onkeydown = "return false", onpaste = "return false" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Trainer</label>
                        <div class="col-md-10">
                            <select id="Trainer" class="form-control"></select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="addAllocation" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
