@model FirstInFirstAid.Models.Equipment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
        
    @Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.min.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type=datetime]").datetimepicker({
                dateFormat: "dd.M.yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+5",
                controlType: "select",
                timeFormat: "hh:mm TT",
                "stepMinute": 15
            });

            var i = 0;
            $("#addAllocation").click(function () {
                $('#allocations> tbody:last-child').append(
                    "<tr id=" + i + ">" +
                    "<td> " + $("#DateSupplied").val() + "</td>" +
                    "<td>" + $("#DateReturned").val() + "</td>" +
                    "<td>" + $("#Trainer").val() + "</td>" +
                    "<td><input type='button' value='Delete' onclick='deleteAllocation(" + i + ")'/></td>" +
                    "</tr >");
                i++;
                $('#modal').modal('hide');
            });
        });

        function deleteAllocation(id) {
            $("#" + id).remove();
        };

        function addAllocationsToForm() {
            var count = 0;

            $('#allocations > tbody > tr:not(:first)').each(function () {
                var columns = $(this).find('td');

                $("#form").append("<input type='hidden' name='EquipmentAllocations[" + count + "].DateSupplied'" + " value='" + $(columns[0]).html().trim() + "'/>");
                $("#form").append("<input type='hidden' name='EquipmentAllocations[" + count + "].DateReturned'" + " value='" + $(columns[1]).html().trim() + "'/>");
                $("#form").append("<input type='hidden' name='EquipmentAllocations[" + count + "].Trainor'" + " value='" + $(columns[2]).html().trim() + "'/>");
                count++;
            });
        }
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="form">
        <h4>Equipment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EquipmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EquipmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Add Equipment Alloctions:</label>
            <div class="col-md-10">
                <button data-target="#modal" data-toggle="modal" type="button" class="btn btn-success .btn-sm"> Add </button>
            </div>
        </div>


        <h4 style="padding-top:30px;"> Equipment Allocations </h4>
        <div class="table-responsive">
            <table class="table" id="allocations" style="width:100%; padding-top:40px; ">
                <tbody>
                    <tr>
                        <th>Supplied Date</th>
                        <th>Retuned Date</th>
                        <th>Trainer</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input onclick="addAllocationsToForm();" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Equipment Allocation</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-2">Date Supplied:</label>
                        <div class="col-md-10">
                            <!-- Anu edits-->
                            @Html.Editor("DateSupplied", new { htmlAttributes = new { @id = "DateSupplied", @class = "form-control", @type = "datetime", onkeydown = "return false", onpaste = "return false" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Date Returned</label>
                        <div class="col-md-10">
                            @Html.Editor("DateReturned", new { htmlAttributes = new { @id = "DateReturned", @class = "form-control", @type = "datetime", onkeydown = "return false", onpaste = "return false" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Trainer</label>
                        <div class="col-md-10">
                            @Html.Editor("Trainer", new { htmlAttributes = new { @id = "Trainer", @class = "form-control" } })
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="addAllocation" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
