@using FirstInFirstAid.Models.User
@model LoginUser

@{
    Layout = null;
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.10.2.min.js")"></script>    
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title First In Firstaid - Login</title>

    @Styles.Render("~/Content/Login.css")
</head>
<body>
    <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => m.UserName, new {@placeholder = "User Name" })
                    @Html.PasswordFor(m => m.Password, new {@placeholder = "Password" })
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                }

                <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
