@model IEnumerable<FirstInFirstAid.Models.Trainor>

@{
    ViewBag.Title = "Trainers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript">


        function deleteTrainer(id) {
            $.ajax({
                type: "GET",
                url: "/Trainors/Delete/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (obj) {
                    if (obj.Type == 'Warn') {
                        $("#warnModalBody").text(obj.Message);
                        $('#warnModal').modal('show');
                    } else {
                        $("#delButton").attr("onclick", "deleteConfirmed(" + obj.Id + ")");
                        $("#confirmModalBody").text(obj.Message);
                        $('#confirmModal').modal('show');
                    }
                },
                error: function (obj) {
                    alert("Failed to delete the Trainer " + obj);
                }
            });
        };

        function deleteConfirmed(id) {
            $.ajax({
                type: "POST",
                url: "/Trainors/DeleteConfirmed/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    $("#successModalBody").text(msg);
                    $('#successModal').modal('show');
                    location.reload();
                },
                error: function (obj) {
                    $("#warnModalBody").text(obj.Message);
                    $('#warnModal').modal('show');
                }
            });
        }
    </script>
}


<h3 class="page-header">Trainers</h3>

@Html.ActionLink("Add New", "Create", new { }, new { @class = "btn btn-success" })

<div class="container-fluid">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered dt-responsive nowrap mdtable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            DOB
                        </th>
                        <th>
                            Tax File Number
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lastname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaxFileNo)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) &nbsp;
                                
                                <button class='btn btn-danger' type='button' value='Delete' onclick='deleteTrainer(@item.Id)'>Delete</button>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>

    </div>
</div>


