<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Software Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        <!--Custom css file by Anu-->
    @Styles.Render("~/Content/custom-styles.css")
        <!--Font Aweson bundle-->
    @Styles.Render("~/Content/fontawesome")

</head>
<body>
    <!--Top Navigation-->
    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container-fluid">
            <!--Mobile dropdown-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FISFA | FIFAS</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="fa fa-user"></i> Hi, Administrator <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            @using (Html.BeginForm("LogOff", "Accounts", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Log Off</a></li>
                            }
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                     <li>
                         <a href="#">Calender</a>
                     </li>
                 </ul>-->
            </div>
        </div>
    </div>

    <!--Sidebar-->
    <div class="content">
        <div class="sidebar">
            <!--Sidebar mobile drop down-->
            <div class="navbar-header">
                <div class="sidebar-dropdown">
                    <a id="main-menu" href="#" class="navbar-toggle" role="button" data-toggle="collapse" data-target=".navbar-collapse2">Main Menu</a>
                </div>
            </div>
            <nav class="sidebar-inner collapse navbar-collapse navbar-collapse2" role="navigation">
                <ul class="nav-sidebar">
                    <li class="nred level1">
                        <a href="http://localhost:49884/Dashboard/Index" class="fisfa-h"> <i class="fa fa-dashboard"></i> Dashboard </a>

                    </li>
                    <li class="nblue level1">
                        <a href="http://localhost:49884/eventsegments" class="fisfa-es"> <i class="fa fa-calendar"></i> Event Segments </a>

                    </li>
                    <li class="has_submenu nblue level1">

                        <a class="fisfa-e"> <i class="fa fa-calendar"></i> Events<span class="pull-right"><i class="fa fa-sort-down"></i></span> </a>
                        <ul>
                            <li>  @Html.ActionLink("All Events", "Index", "Events") </li>
                            <li>  @Html.ActionLink("Add New", "Create", "Events") </li>
                        </ul>
                    </li>
                    <li class="has_submenu nblue level1">

                        <a class="fisfa-c"> <i class="fa fa-user"></i> Clients<span class="pull-right"><i class="fa fa-sort-down"></i></span> </a>
                        <ul>
                            <li> @Html.ActionLink("All Clients", "Index", "Clients")  </li>
                            <li> @Html.ActionLink("Add New", "Create", "Clients") </li>
                        </ul>
                    </li>

                    <li class="has_submenu nblue level1">

                        <a class="fisfa-t"> <i class="fa fa-group"></i> Trainers<span class="pull-right"><i class="fa fa-sort-down"></i></span></a>
                        <ul>
                            <li> @Html.ActionLink("All Trainers", "Index", "Trainors")  </li>
                            <li> @Html.ActionLink("Add New", "Create", "Trainors") </li>
                        </ul>
                    </li>


                    <li class="has_submenu nblue level1">

                        <a class="fisfa-v"> <i class="fa fa-map-marker"></i> Venues<span class="pull-right"><i class="fa fa-sort-down"></i></span> </a>
                        <ul>
                            <li> @Html.ActionLink("All Venues", "Index", "Venues")  </li>
                            <li> @Html.ActionLink("Add New", "Create", "Venues") </li>
                        </ul>
                    </li>

                    <li class="has_submenu nblue level1">

                        <a class="fisfa-eq"> <i class="fa fa-suitcase"> </i> Equipment<span class="pull-right"><i class="fa fa-sort-down"></i></span> </a>
                        <ul>
                            <li> @Html.ActionLink("Equipment Allocations", "Index", "Equipments")  </li>
                            <li> @Html.ActionLink("Add New", "Create", "Equipments") </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - First in Teams Pty Ltd</p>
        </footer>
    </div>


    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!--Including moments.js for Full Calendar by Anu-->
    <script src="~/Scripts/moment.min.js"></script>

    <!--Including jquery client side validation by Anu-->
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Including the jquery-ui script and style bundles by Anu-->
    @Scripts.Render("~/bundles/jquery-ui")
    @Styles.Render("~/Content/jquery-ui-timepicker-addon.min.css")

    <!--Include jquery data tables-->
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

    <!--Including Full Calendar by Anu-->
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <script src="~/Scripts/fullcalendar.min.js"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            /*Add current class to current page*/
            $(".level1").each(function () {
                if (window.location.href.indexOf($(this).find('a:first').attr('href')) > -1) {
                    $(this).addClass('current').siblings().removeClass('current');
                }
            });

            $(".nav-sidebar > li> ul> li").each(function () {
                if (window.location.href.indexOf($(this).find('a:first').attr('href')) > -1) {
                    $(this).children('a').addClass('active').siblings().removeClass('active');

                    $(this).parent().css("display", "block");
                    $(this).parent().parent().addClass('current');
                }

            });

            $(".has_submenu > a").click(function (e) {
                e.preventDefault();
                var menu_li = $(this).parent("li");
                var menu_ul = $(this).next("ul");

                if (menu_li.hasClass("open")) {
                    menu_ul.slideUp(350);
                    menu_li.removeClass("open")
                }
                else {
                    $(".nav-sidebar > li > ul").slideUp(350);
                    $(".nav-sidebar > li").removeClass("open");
                    menu_ul.slideDown(350);
                    menu_li.addClass("open");
                    menu_ul.css("display", "block");
                }
            })

            $('.mdtable').dataTable({
            });

        });
        /* Code to fix "field must be a date" issue in Chrome and VFirefox */
        $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var valid = true;
                try {
                    $.datepicker.parseDate('dd.M.yy', value);
                }
                catch (err) {
                    valid = false;
                }
                return valid;
            });
        // function to fix DOB issue in Firefox browser
        /*$(function () {
                $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "L" , true).isValid();
            }
        });*/
        
    </script>

    <div id="warnModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="warnModalheader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning!</h4>
                </div>
                <div id="warnModalBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="confirmModalheader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Info</h4>
                </div>
                <div id="confirmModalBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button id="delButton" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>


    <div id="successModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="successModalheader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Success</h4>
                </div>
                <div id="successModalBody" class="modal-body">
                </div>
                <div class="modal-footer" id="confirmFooter">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
