@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Dashboard/_LayoutPageDash.cshtml";
}



<style>
    #jumb1 {
        background-color: #88c87b;
    }

    #jumb2 {
        background-color: #ff8454;
    }

    #jumb3 {
        background-color: #f0cd3a;
    }
    
    
    
    a {
            font-size: 16px;
        }

    
    h2{
        text-align:center;
    }
</style>

<h2> DASHBOARD - FIRST IN SPORTS FIRST AID</h2>
<hr/>
<div class="container">
    <div class="jumbotron" id="jumb1">
        <div class="row">
            <div class="col-md-6">

                <h3> Events</h3>
                <hr />
                @Html.ActionLink("View", "Index", "Events") <br />
                @Html.ActionLink("Create", "Create", "Events") <br />
                
            </div>
            <div class="col-md-6">
                <h3> Event Calendar</h3>
                <hr />
            </div>

        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron" id="jumb2">
                <h3> Clients</h3>
                <hr />
                @Html.ActionLink("View", "Index", "Clients") <br />
                @Html.ActionLink("Create", "Create", "Clients") <br />
                
            </div>
        </div>

        <div class="col-md-6">
            <div class="jumbotron" id="jumb3">
                <h3> Trainers</h3>
                <hr />
                @Html.ActionLink("View", "Index", "Trainors") <br />
                @Html.ActionLink("Create", "Create", "Trainors") <br />
                
            </div>
        </div>


    </div>
</div>

















