@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.dataTables_wrapper div.dataTables_info {
        display: none;

    }

    table.dataTable thead th {
        border-bottom: 1px solid #ebebeb !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 1px !important;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none !important;
        }


</style>
@section Scripts {
    
<script type="text/javascript">
    $(document).ready(function() {
        $('#upcoming').DataTable({
            "lengthChange": false,
            "searching": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/EventSegments/getupComingEventSegments",
                "type": "GET"
            },
            "columns": [
                { "data" : "Name" },
                { "data" : "Start" },
                { "data" : "Venue" }
            ]
        });

        $.ajax({
            "url": "/Clients/getNumberOfClients",
            "type": "GET",
            data: {},
            dataType: "json",
            success: function (data) {
                $('#mclients').html(data);
            },
            error: function (data) {
                alert("Internal Server Error:\n" + data);
            },

        });

        $.ajax({
            "url": "/Trainors/getNumberOfTrainers",
            "type": "GET",
            data: {},
            dataType: "json",
            success: function (data) {
                $('#mtrainers').html(data);
            },
            error: function (data) {
                alert("Internal Server Error:\n" + data);
            },

        });
 } );
</script>
}

<h2 class="page-header">BUSINESS MANAGEMENT SYSTEM</h2>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading" id="event-p">Upcoming Event Segments (7 days)</div>
                    <div class="panel-body">
                        <!--<h4>Number of upcoming events (7days): </h4> <br />-->
                        <div class="table-responsive">
                            <table id="upcoming" class="table table-bordered dt-responsive nowrap" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Start Date/Time</th>
                                        <th>Venue</th>
                                                                                </tr>
                                </thead>
                                <tbody>

                                </tbody>


                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        @Html.ActionLink("View all Event Segments", "Index", "Eventsegments")

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" id="imp-p">Important Links</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td> @Html.ActionLink("Add Event", "Create", "Events") <br /></td>
                                        <td> @Html.ActionLink("View Events", "Index", "Events") <br /></td>
                                    </tr>
                                    <tr>
                                        <td> @Html.ActionLink("Add Client", "Create", "Clients") <br /></td>
                                        <td> @Html.ActionLink("View Clients", "Index", "Clients") <br /></td>
                                    </tr>
                                    <tr>
                                        <td> @Html.ActionLink("Add Trainer", "Create", "Trainors")<br /></td>
                                        <td> @Html.ActionLink("View Trainers", "Index", "Trainors") <br /></td>
                                    </tr>
                                    <tr>
                                        <td> @Html.ActionLink("Add Venue", "Create", "Venues")<br /></td>
                                        <td> @Html.ActionLink("View Venues", "Index", "Venues") <br /></td>
                                    </tr>
                                    <tr>
                                        <td> @Html.ActionLink("Add Equipment", "Create", "Equipments")<br /></td>
                                        <td> @Html.ActionLink("View Equipment", "Index", "Equipments") <br /></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>


        </div>



        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" id="client-p">Clients</div>
                    <div class="panel-body">
                        <h4>Number of Clients: <span id="mclients"> </span></h4>  <!-- call (Clients/getNumberOfClients controller method in ajax )--> <br />
                        @Html.ActionLink("Add Client", "Create", "Clients") <br />
                        @Html.ActionLink("View Clients", "Index", "Clients") <br />

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" id="trainer-p">Trainers</div>
                    <div class="panel-body">
                        <h4>Number of Trainers: <span id="mtrainers"> </span> </h4><!-- call (Trainors/getNumberOfTrainers controller method in ajax )--> <br />
                        @Html.ActionLink("Add Trainer", "Create", "Trainors") <br />
                        @Html.ActionLink("View Trainers", "Index", "Trainors") <br />

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" id="calendar-p">Calendar</div>
                    <div class="panel-body">


                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <br/>Links to websites <br/>
            <a href="https://firstinsportsfirstaid.com.au" target="_blank"> First in Sports First Aid</a> <br/>
            <a href="https://firstinfirstaidservices.com.au" target="_blank"> First in First Aid Services</a> <br/>
            <a href="https://firstaidcourses.firstinsportsfirstaid.com.au" target="_blank"> First Aid Courses - Book Online</a> <br/>
        </div>

        </div>
    </div>



















