@model IEnumerable<FirstInFirstAid.Models.EventSegment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
       $(document).ready(function () {

  

           $.ajax({
               type: "GET",
               url: "/EventSegments/getDutyTypeState",
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               success: function (obj) {
                   $.each(obj, function (key, value) {
                       if (value.State == "incomplete") {
                           $("tr#" + value.ID).addClass('redClass');
                       } else {
                           if (value.DutyType == 1) {
                               if (value.Confirmed) {
                                   $("tr#" + value.ID).addClass('orangeClass');
                               } else {
                                   $("tr#" + value.ID).addClass('lightorangeClass');
                               }
                           } else if (value.DutyType == 2) {
                               if (value.Confirmed) {
                                   $("tr#" + value.ID).addClass('purpleClass');
                               } else {
                                   $("tr#" + value.ID).addClass('lightpurpleClass');
                               }
                           } else if (value.DutyType == 3) {
                               if (value.Confirmed) {
                                   $("tr#" + value.ID).addClass('yellowClass');
                               } else {
                                   $("tr#" + value.ID).addClass('lightyellowClass');
                               }
                           } else if (value.DutyType = 4) {
                               if (value.Confirmed) {
                                   $("tr#" + value.ID).addClass('greenClass');
                               } else {
                                   $("tr#" + value.ID).addClass('lightgreenClass');
                               }
                           } else if (value.DutyType == 5) {
                               if (value.Confirmed) {
                                   $("tr#" + value.ID).addClass('blueClass');
                               } else {
                                   $("tr#" + value.ID).addClass('lightblueClass');
                               }
                           } else if (value.DutyType == 6) {
                               if (value.Confirmed) {
                                   $("tr#" + value.ID).addClass('greyClass');
                               } else {
                                   $("tr#" + value.ID).addClass('lightgreyClass');
                               }
                           } else if (value.DutyType == 7) {
                               if (value.Confirmed) {
                                   $("tr#" + value.ID).addClass('pinkClass');
                               } else {
                                   $("tr#" + value.ID).addClass('lightpinkClass');
                               }
                           }
                       }               
                   });
               },
               error: function (obj) {
                   $("#warnModalBody").text(obj.Message);
                   $('#warnModal').modal('show');
               }
           });
       });      
              

     
        function deleteEventSegment(id) {
            $.ajax({
                type: "GET",
                url: "/EventSegments/Delete/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (obj) {
                    if (obj.Type == 'Warn') {
                        $("#warnModalBody").text(obj.Message);
                        $('#warnModal').modal('show');
                    } else {
                        $("#delButton").attr("onclick", "deleteConfirmed(" + obj.Id + ")");
                        $("#confirmModalBody").text(obj.Message);
                        $('#confirmModal').modal('show');
                    }
                },
                error: function (obj) {
                    $("#warnModalBody").text(obj.Message);
                    $('#warnModal').modal('show');
                }
            });
        };

        function deleteConfirmed(id) {
            $.ajax({
                type: "POST",
                url: "/EventSegments/DeleteConfirmed/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    $("#successModalBody").text(msg);
                    $('#successModal').modal('show');                    
                },
                error: function (obj) {
                    $("#warnModalBody").text(obj.Message);
                    $('#warnModal').modal('show');
                }
            });
        }
    </script>
}


    <h3 class="page-header">Event Segments</h3>


    <!--<p>
        @Html.ActionLink("Create New", "Create")
    </p>-->
    <div class="container-fluid">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-bordered dt-responsive nowrap mdtable"  id="Segdtable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Event Name
                            </th>
                            <th>
                                Event <br />Segment Name
                            </th>
                            <th>
                                Start Time
                            </th>
                            <th>
                                End Time
                            </th>
                            <th>
                                Hours
                            </th>
                            <th>
                                Required <br />No. of Staff
                            </th>
                            <th>
                                Total Fee
                            </th>
                            <th>
                                Duty Type
                            </th>
                            <th>
                                Client Contact
                            </th>
                            <th>
                                Venue
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr id="@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.Event.EventName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hours)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequiredNumberOfStaff)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coverage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClientContact.ContactName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Venue.VenueName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                <!-- @Html.ActionLink("Details", "Details", new { id = item.Id }) |-->
                                <button class='btn btn-danger' type='button' value='Delete' onclick='deleteEventSegment(@item.Id)'>Delete</button>
                            </td>
                        </tr>

                        }
                    </tbody>

                </table>
            </div>

        </div>
    </div>

